<div class="afterLoginPageMain">
  <div class="contentBgGradient"></div>
<div class="container-fluid">
  <div class="contentAreaBox">

    <div class="d-flex justify-content-between align-items-center titleAndSearchMain">
      <div><h2>Notifications</h2></div>
    </div>

<div class="contentSecMain pt-2">


<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>


</div>






  </div>
</div>


</div>
