<div class="afterLoginPageMain">
  <div class="contentBgGradient"></div>
<div class="container-fluid">
  <div class="contentAreaBox">

    <div class="d-flex justify-content-between align-items-center titleAndSearchMain">
      <div>
        <h2>Company</h2>
      </div>
      <div class="w-50">
        <div class="searchAndAddBtn">
            <form>
              <div class="form-row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                  <div class="searchBoxSty position-relative">
                      <input type="text" class="form-control paddingRight-30" placeholder="Search">
                      <div class="searchIcon"><img src="assets/img/searchIcon.png" alt=""></div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <button type="button" class="btn btn-primary mb-2 mr-1" data-toggle="modal" data-target="#addCompanyModal">Add Company</button>
                  <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addBranchModal">Add Branch</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

<div class="contentSecMain">

<div class="accordion" id="companyAccordionMain">

  <div class="accordionCardMain">
    <div class="d-flex justify-content-between align-items-center accordionCardHed" id="companyHeadingOne">
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="fieldMainCM">
            <label class="highlightLabel">Shaurya Technosoft Pvt. Ltd.</label>
          </div>
          <div class="fieldMainCM">
            <label>Owner:</label>
            <span>Abhay Jagtap</span>
          </div>
          <div class="fieldMainCM">
            <label>Mobile Number:</label>
            <span>+91 9604601273</span>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-link iconBtnSty" type="button" data-toggle="collapse" data-target="#companyOne" aria-expanded="true" aria-controls="companyOne"><img src="assets/img/downArrow.png"></button>
      </div>
    </div>

    <div id="companyOne" class="collapse" aria-labelledby="companyHeadingOne" data-parent="#companyAccordionMain">
      <div class="accordionCardBody">
      <div>
        <div class="d-flex justify-content-start align-items-center">
          <div class="fieldMainCM">
            <label>Email Id:</label>
            <span>vinit.bhise@shauryatechnosoft.com</span>
          </div>
          <div class="fieldMainCM">
            <label>PAN:</label>
            <span>4754545848</span>
          </div>
          <div class="fieldMainCM">
            <label>GST:</label>
            <span>7545458498</span>
          </div>
        </div>
        <div class="d-flex justify-content-start align-items-center mt-2">
          <div class="fieldMainCM">
            <label>Company Address:</label>
            <span>694/1/2/4, Sahakar Bhavan, 2nd Floor, Adarsh Nagar, Hotel Utsav Chowk, Near City-Pride Cinema, Pune-Satara road, Pune-411037</span>
          </div>
        </div>
      </div>

<div>

<h6 class="branchTitleC">All Branch</h6>

<div class="d-flex justify-content-start flex-wrap align-items-center devicesBoxMain">

  <div class="devicesBox">
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Petroleum</span>
      </div>
      <div class="mb-2">
        <label>Address: </label>
        <span>Sinhagad Road, Pune</span>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center branchBtnM">
      <button class="btn btn-link iconBtnBN mr-2" type="button"><img src="assets/img/deleteIcon.png"></button>
      <button class="btn btn-link iconBtnBN" type="button"><img src="assets/img/editIcon.png"></button>
    </div>
  </div>

  <div class="devicesBox">
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Petroleum</span>
      </div>
      <div class="mb-2">
        <label>Address: </label>
        <span>Sinhagad Road, Pune</span>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center branchBtnM">
      <button class="btn btn-link iconBtnBN mr-2" type="button"><img src="assets/img/deleteIcon.png"></button>
      <button class="btn btn-link iconBtnBN" type="button"><img src="assets/img/editIcon.png"></button>
    </div>
  </div>


  <div class="devicesBox">
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Petroleum</span>
      </div>
      <div class="mb-2">
        <label>Address: </label>
        <span>Sinhagad Road, Pune</span>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center branchBtnM">
      <button class="btn btn-link iconBtnBN mr-2" type="button"><img src="assets/img/deleteIcon.png"></button>
      <button class="btn btn-link iconBtnBN" type="button"><img src="assets/img/editIcon.png"></button>
    </div>
  </div>


</div>


</div>

      </div>
    </div>
  </div>

  <div class="accordionCardMain">
    <div class="d-flex justify-content-between align-items-center accordionCardHed" id="companyHeadingTwo">
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="fieldMainCM">
            <label class="highlightLabel">Shaurya Technosoft Pvt. Ltd.</label>
          </div>
          <div class="fieldMainCM">
            <label>Owner:</label>
            <span>Abhay Jagtap</span>
          </div>
          <div class="fieldMainCM">
            <label>Mobile Number:</label>
            <span>+91 9604601273</span>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-link iconBtnSty" type="button" data-toggle="collapse" data-target="#companyTwo" aria-expanded="true" aria-controls="companyTwo"><img src="assets/img/downArrow.png"></button>
      </div>
    </div>

    <div id="companyTwo" class="collapse" aria-labelledby="companyHeadingTwo" data-parent="#companyAccordionMain">
      <div class="accordionCardBody">
      <div>
        <div class="d-flex justify-content-start align-items-center">
          <div class="fieldMainCM">
            <label>Email Id:</label>
            <span>vinit.bhise@shauryatechnosoft.com</span>
          </div>
          <div class="fieldMainCM">
            <label>PAN:</label>
            <span>4754545848</span>
          </div>
          <div class="fieldMainCM">
            <label>GST:</label>
            <span>7545458498</span>
          </div>
        </div>
        <div class="d-flex justify-content-start align-items-center mt-2">
          <div class="fieldMainCM">
            <label>Company Address:</label>
            <span>694/1/2/4, Sahakar Bhavan, 2nd Floor, Adarsh Nagar, Hotel Utsav Chowk, Near City-Pride Cinema, Pune-Satara road, Pune-411037</span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>


</div>












</div>






  </div>
</div>


</div>



<!-- Add Company Modal -->
<div class="modal fade" id="addCompanyModal" tabindex="-1" role="dialog" aria-labelledby="addCompanyModalTitle" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCompanyModalTitle">Add Company</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
              <div class="form-row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label for="companyName_id">Company Name</label>
                    <input type="text" id="companyName_id" class="form-control" placeholder="Company Name" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="ownerName_id">Owner Name</label>
                    <input type="text" id="ownerName_id" class="form-control" placeholder="Owner Name" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="mobileName_id">Mobile Name</label>
                    <input type="text" id="mobileName_id" class="form-control" placeholder="Mobile Name" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="email_id">Email Id</label>
                    <input type="text" id="email_id" class="form-control" placeholder="Email id" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="panNumber_id">PAN Number</label>
                    <input type="text" id="panNumber_id" class="form-control" placeholder="PAN Number" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="gstNumber_id">GST Number</label>
                    <input type="text" id="gstNumber_id" class="form-control" placeholder="GST Number" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label for="address_id">Address</label>
                    <textarea class="form-control" id="address_id" placeholder="Address" rows="2"></textarea>
                  </div>
                </div>
              </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pl-4 pr-4">Add</button>
      </div>
    </div>
  </div>
</div>





<!-- Add Branch Modal -->
<div class="modal fade" id="addBranchModal" tabindex="-1" role="dialog" aria-labelledby="addBranchModalTitle" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBranchModalTitle">Add Branch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="selectCompany_id">Select Company</label>
                      <select id="selectCompany_id" class="form-control">
                          <option>Shaurya Finance Pvt. Ltd.</option>
                          <option>Shaurya Electronic Shopping Store.</option>
                          <option>Shaurya Petroleum</option>
                          <option>Shaurya Studio</option>
                      </select>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="branchName_id">Branch Name</label>
                    <input type="text" id="branchName_id" class="form-control" placeholder="Branch Name" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="ownerName_id">Owner Name</label>
                    <input type="text" id="ownerName_id" class="form-control" placeholder="Owner Name" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="mobileName_id">Mobile Name</label>
                    <input type="text" id="mobileName_id" class="form-control" placeholder="Mobile Name" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="email_id">Email Id</label>
                    <input type="text" id="email_id" class="form-control" placeholder="Email id" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="panNumber_id">PAN Number</label>
                    <input type="text" id="panNumber_id" class="form-control" placeholder="PAN Number" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="gstNumber_id">GST Number</label>
                    <input type="text" id="gstNumber_id" class="form-control" placeholder="GST Number" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label for="address_id">Address</label>
                    <textarea class="form-control" id="address_id" placeholder="Address" rows="2"></textarea>
                  </div>
                </div>
              </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pl-4 pr-4">Add</button>
      </div>
    </div>
  </div>
</div>
