<div class="headerBL">
    <div class="container headerInrBL">
        <div class="d-flex justify-content-center align-items-center justify-content-md-between flex-column flex-md-row">
            <div>
                <!-- <div class="mobMenuIcon d-sm-block d-md-none" (click)="clickEventForMob()"><i class="fas fa-bars"></i></div> -->
                <div class="siteName" data-aos="fade-left" data-aos-duration="1600" data-aos-delay="100"> <img src="assets/img/logovts.png" alt=""> </div>
            </div>
            <div data-aos="fade-right" data-aos-duration="1700" data-aos-delay="150">
                <div class="menuMain">
                    <ul class="d-flex justify-content-start justify-content-md-end flex-column flex-md-row menusSty">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
