<div class="afterLoginPageMain">
  <div class="contentBgGradient"></div>
<div class="container-fluid">
  <div class="contentAreaBox">

    <div class="d-flex justify-content-between align-items-center titleAndSearchMain">
      <div>
        <h2>Drivers</h2>
      </div>
      <div class="w-75">
        <div class="searchAndAddBtn">
            <form>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <select class="form-control" id="selectCompany">
                    <option>All Company</option>
                    <option>Shaurya Technosoft Pvt. Ltd.</option>
                    <option>Shaurya Technosoft Pvt. Ltd.</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                  <div class="searchBoxSty position-relative">
                      <input type="text" class="form-control paddingRight-30" placeholder="Search">
                      <div class="searchIcon"><img src="assets/img/searchIcon.png" alt=""></div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1">
                  <button type="button" class="btn btn-block btn-primary mb-2" data-toggle="modal" data-target="#addDriverModal">Add</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

<div class="contentSecMain">

<div class="accordion" id="driverAccordionMain">

  <div class="accordionCardMain">
    <div class="d-flex justify-content-between align-items-center accordionCardHed" id="driverHeadingOne">
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="fieldMainCM">
            <label class="highlightLabel">Shawn Michaels</label>
          </div>
          <div class="fieldMainCM">
            <label>Mobile Number:</label>
            <span>+91 9604601273</span>
          </div>
          <div class="fieldMainCM">
            <label>Alternate Mobile Number:</label>
            <span>+91 9754601883</span>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-link iconBtnSty" type="button" data-toggle="collapse" data-target="#driverOne" aria-expanded="true" aria-controls="driverOne"><img src="assets/img/downArrow.png"></button>
      </div>
    </div>

    <div id="driverOne" class="collapse show" aria-labelledby="driverHeadingOne" data-parent="#driverAccordionMain">
      <div class="accordionCardBody">

<div class="d-flex justify-content-between">
      <div>
        <div class="d-flex justify-content-start align-items-center">
          <div class="fieldMainCM">
            <label>Date of Birth:</label>
            <span>04/06/1992</span>
          </div>
          <div class="fieldMainCM">
            <label>Gender:</label>
            <span>Male</span>
          </div>
          <div class="fieldMainCM">
            <label>Aadhar Card Number:</label>
            <span>48552EGT55</span>
          </div>
          <div class="fieldMainCM">
            <label>Driving Licence Number:</label>
            <span>47545f45ghd848</span>
          </div>
        </div>
        <div class="d-flex justify-content-start align-items-center mt-2">
          <div class="fieldMainCM">
            <label>Address:</label>
            <span>694/1/2/4, Sahakar Bhavan, 2nd Floor, Adarsh Nagar, Hotel Utsav Chowk, Near City-Pride Cinema, Pune-Satara road, Pune-411037</span>
          </div>
        </div>
      </div>
      <div class="driverProfilePic">
          <div class="driverPic"> <img src="assets/img/avatars/avatar_01.jpg" alt=""> </div>
      </div>
</div>

      </div>
    </div>
  </div>

  <div class="accordionCardMain">
    <div class="d-flex justify-content-between align-items-center accordionCardHed" id="driverHeadingTwo">
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="fieldMainCM">
            <label class="highlightLabel">Steve Austin</label>
          </div>
          <div class="fieldMainCM">
            <label>Mobile Number:</label>
            <span>+91 9604601273</span>
          </div>
          <div class="fieldMainCM">
            <label>Alternate Mobile Number:</label>
            <span>+91 9754601883</span>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-link iconBtnSty" type="button" data-toggle="collapse" data-target="#driverTwo" aria-expanded="true" aria-controls="driverTwo"><img src="assets/img/downArrow.png"></button>
      </div>
    </div>

    <div id="driverTwo" class="collapse" aria-labelledby="driverHeadingTwo" data-parent="#driverAccordionMain">
      <div class="accordionCardBody">
<div class="d-flex justify-content-between">
      <div>
        <div class="d-flex justify-content-start align-items-center">
          <div class="fieldMainCM">
            <label>Date of Birth:</label>
            <span>04/06/1992</span>
          </div>
          <div class="fieldMainCM">
            <label>Gender:</label>
            <span>Male</span>
          </div>
          <div class="fieldMainCM">
            <label>Aadhar Card Number:</label>
            <span>48552EGT55</span>
          </div>
          <div class="fieldMainCM">
            <label>Driving Licence Number:</label>
            <span>47545f45ghd848</span>
          </div>
        </div>
        <div class="d-flex justify-content-start align-items-center mt-2">
          <div class="fieldMainCM">
            <label>Address:</label>
            <span>694/1/2/4, Sahakar Bhavan, 2nd Floor, Adarsh Nagar, Hotel Utsav Chowk, Near City-Pride Cinema, Pune-Satara road, Pune-411037</span>
          </div>
        </div>
      </div>
      <div class="driverProfilePic">
          <div class="driverPic"> <img src="assets/img/avatars/avatar_02.jpg" alt=""> </div>
      </div>
</div>
      </div>
    </div>
  </div>


</div>




</div>



  </div>
</div>


</div>



<!-- Add Driver Modal -->
<div class="modal fade" id="addDriverModal" tabindex="-1" role="dialog" aria-labelledby="addDriverModalTitle" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDriverModalTitle">Add Driver</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="vehicleType_id">Select Company</label>
                      <select id="vehicleType_id" class="form-control">
                          <option>Shaurya Finance Pvt. Ltd.</option>
                          <option>Shaurya Electronic Shopping Store.</option>
                          <option>Shaurya Petroleum</option>
                          <option>Shaurya Studio</option>
                      </select>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="vehicleType_id">Select Branch</label>
                      <select id="vehicleType_id" class="form-control">
                          <option>Shaurya Finance Pvt. Ltd.</option>
                          <option>Shaurya Electronic Shopping Store.</option>
                          <option>Shaurya Petroleum</option>
                          <option>Shaurya Studio</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label for="driverName_id">Driver Name</label>
                    <input type="text" id="driverName_id" class="form-control" placeholder="Driver Name" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="mobileNumber_id">Mobile Number</label>
                    <input type="text" id="mobileNumber_id" class="form-control" placeholder="Mobile Number" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="alternateMobileNumber_id">Alternate Mobile Number</label>
                    <input type="text" id="alternateMobileNumber_id" class="form-control" placeholder="Alternate Mobile Number" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="dateOfBirth_id">Date of Birth</label>
                    <input type="text" id="dateOfBirth_id" class="form-control" placeholder="Date of Birth" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                      <label>Gendar</label>
                      <div class="d-flex justify-content-start">
                          <div class="form-group custom-control custom-radio my-1 mr-sm-4">
                              <input type="radio" class="custom-control-input" name="gendar" id="gMale_id" />
                              <label class="custom-control-label" for="gMale_id">Male</label>
                          </div>
                          <div class="form-group custom-control custom-radio my-1 mr-sm-2">
                              <input type="radio" class="custom-control-input" name="gendar" id="gFemale_id" />
                              <label class="custom-control-label" for="gFemale_id">Female</label>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="aadharCardNumber_id">Aadhar Card Number</label>
                    <input type="text" id="aadharCardNumber_id" class="form-control" placeholder="Aadhar Card Number" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="drivingLicenceNumber_id">Driving Licence Number</label>
                    <input type="text" id="drivingLicenceNumber_id" class="form-control" placeholder="Driving Licence Number" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label for="address_id">Address</label>
                    <textarea class="form-control" id="address_id" placeholder="Address" rows="2"></textarea>
                  </div>
                </div>
              </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pl-4 pr-4">Add</button>
      </div>
    </div>
  </div>
</div>
