<div class="headerAL vtsBgGradient">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div><img src="assets/img/logovts.png" class="logoImgSty" alt="VTS"></div>
      </div>
      <div>
        <div>
            <ul class="nav">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/company']">Company</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/vehicle']">Vehicles</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/driver']">Drivers</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/vendor']">Vendor</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/device']">Devices</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/notification']">
                  <div class="bellSty position-relative">
                    <img src="assets/img/bell.png" alt="">
                    <span class="badge badge-danger">92</span>
                  </div>
                </a>
              </li>
              <li class="nav-item pl-3" routerLinkActive="active">
                <a class="nav-link p-0">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="dropdown dropdown-menu-right profileDropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome Vinit</button>
                          <div class="dropdown-menu" aria-labelledby="profileDropdownMenu">
                            <a class="dropdown-item">Profile</a>
                            <a class="dropdown-item">Settings</a>
                            <a class="dropdown-item" href="#">Logout</a>
                          </div>
                        </div>
                    </div>
                    <div class="userProfImg ml-2">
                      <img src="assets/img/avt.jpg" alt="">
                    </div>
                  </div>
                </a>
              </li>




            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
