<div class="afterLoginPageMain">
  <div class="contentBgGradient"></div>
<div class="container-fluid">
  <div class="contentAreaBox">

    <div class="d-flex justify-content-between align-items-center titleAndSearchMain">
      <div>
        <h2>Devices</h2>
      </div>
      <div class="w-75">
        <div class="searchAndAddBtn">
            <form>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <select class="form-control" id="selectCompany">
                    <option>All Company</option>
                    <option>Shaurya Technosoft Pvt. Ltd.</option>
                    <option>Shaurya Technosoft Pvt. Ltd.</option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                  <div class="searchBoxSty position-relative">
                      <input type="text" class="form-control paddingRight-30" placeholder="Search">
                      <div class="searchIcon"><img src="assets/img/searchIcon.png" alt=""></div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1">
                  <button type="button" class="btn btn-block btn-primary mb-2" data-toggle="modal" data-target="#addDeviceModal">Add</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

<div class="contentSecMain">
<div class="d-flex justify-content-start flex-wrap align-items-center devicesBoxMain">

  <div class="devicesBox">
    <div class="deviceImg"> <img src="assets/img/deviceImg.png" alt=""> </div>
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Device</span>
      </div>
      <div class="mb-2">
        <label>Id: </label>
        <span>7375WEY698</span>
      </div>
      <div>
        <label>Number: </label>
        <span>45975698</span>
      </div>
    </div>
  </div>

  <div class="devicesBox">
    <div class="deviceImg"> <img src="assets/img/deviceImg.png" alt=""> </div>
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Device</span>
      </div>
      <div class="mb-2">
        <label>Id: </label>
        <span>7375WEY698</span>
      </div>
      <div>
        <label>Number: </label>
        <span>45975698</span>
      </div>
    </div>
  </div>

  <div class="devicesBox">
    <div class="deviceImg"> <img src="assets/img/deviceImg.png" alt=""> </div>
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Device</span>
      </div>
      <div class="mb-2">
        <label>Id: </label>
        <span>7375WEY698</span>
      </div>
      <div>
        <label>Number: </label>
        <span>45975698</span>
      </div>
    </div>
  </div>

  <div class="devicesBox">
    <div class="deviceImg"> <img src="assets/img/deviceImg.png" alt=""> </div>
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Device</span>
      </div>
      <div class="mb-2">
        <label>Id: </label>
        <span>7375WEY698</span>
      </div>
      <div>
        <label>Number: </label>
        <span>45975698</span>
      </div>
    </div>
  </div>

  <div class="devicesBox">
    <div class="deviceImg"> <img src="assets/img/deviceImg.png" alt=""> </div>
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Device</span>
      </div>
      <div class="mb-2">
        <label>Id: </label>
        <span>7375WEY698</span>
      </div>
      <div>
        <label>Number: </label>
        <span>45975698</span>
      </div>
    </div>
  </div>

  <div class="devicesBox">
    <div class="deviceImg"> <img src="assets/img/deviceImg.png" alt=""> </div>
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Device</span>
      </div>
      <div class="mb-2">
        <label>Id: </label>
        <span>7375WEY698</span>
      </div>
      <div>
        <label>Number: </label>
        <span>45975698</span>
      </div>
    </div>
  </div>

  <div class="devicesBox">
    <div class="deviceImg"> <img src="assets/img/deviceImg.png" alt=""> </div>
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Device</span>
      </div>
      <div class="mb-2">
        <label>Id: </label>
        <span>7375WEY698</span>
      </div>
      <div>
        <label>Number: </label>
        <span>45975698</span>
      </div>
    </div>
  </div>

  <div class="devicesBox">
    <div class="deviceImg"> <img src="assets/img/deviceImg.png" alt=""> </div>
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Device</span>
      </div>
      <div class="mb-2">
        <label>Id: </label>
        <span>7375WEY698</span>
      </div>
      <div>
        <label>Number: </label>
        <span>45975698</span>
      </div>
    </div>
  </div>

  <div class="devicesBox">
    <div class="deviceImg"> <img src="assets/img/deviceImg.png" alt=""> </div>
    <div>
      <div class="mb-2">
        <label>Name: </label>
        <span>Shaurya Device</span>
      </div>
      <div class="mb-2">
        <label>Id: </label>
        <span>7375WEY698</span>
      </div>
      <div>
        <label>Number: </label>
        <span>45975698</span>
      </div>
    </div>
  </div>








</div>



</div>



  </div>














</div>


</div>



<!-- Add Vendor Modal -->
<div class="modal fade" id="addDeviceModal" tabindex="-1" role="dialog" aria-labelledby="addDeviceModalTitle" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDeviceModalTitle">Add Device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="vehicleType_id">Select Company</label>
                      <select id="vehicleType_id" class="form-control">
                          <option>Shaurya Finance Pvt. Ltd.</option>
                          <option>Shaurya Electronic Shopping Store.</option>
                          <option>Shaurya Petroleum</option>
                          <option>Shaurya Studio</option>
                      </select>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="vehicleType_id">Select Branch</label>
                      <select id="vehicleType_id" class="form-control">
                          <option>Shaurya Finance Pvt. Ltd.</option>
                          <option>Shaurya Electronic Shopping Store.</option>
                          <option>Shaurya Petroleum</option>
                          <option>Shaurya Studio</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="deviceName_id">Device Name</label>
                    <input type="text" id="deviceName_id" class="form-control" placeholder="Device Name" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="deviceId_id">Device Id</label>
                    <input type="text" id="deviceId_id" class="form-control" placeholder="Device Id" />
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="deviceNumber_id">Device Number</label>
                    <input type="text" id="deviceNumber_id" class="form-control" placeholder="Device Number" />
                  </div>
                </div>
              </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pl-4 pr-4">Add</button>
      </div>
    </div>
  </div>
</div>
