<div class="afterLoginPageMain">
  <div class="contentBgGradient"></div>
<div class="container-fluid">

<div class="d-flex justify-content-between align-items-center totalCountSec">

  <div class="totalBox">
    <img src="assets/img/runningTruck.png" alt="">
    <div class="titleTC text-success">Running Vehicles</div>
    <div class="valueTC">2000</div>
  </div>

  <div class="totalBox">
    <img src="assets/img/device.png" alt="">
    <div class="titleTC text-success">Active Devices</div>
    <div class="valueTC">2000</div>
  </div>

  <div class="totalBox">
    <img src="assets/img/company.png" alt="">
    <div class="titleTC">Company</div>
    <div class="valueTC">1150</div>
  </div>

  <div class="totalBox">
    <img src="assets/img/truckIcon.png" alt="">
    <div class="titleTC">Vehicle</div>
    <div class="valueTC">3200</div>
  </div>

  <div class="totalBox">
    <img src="assets/img/drivers.png" alt="">
    <div class="titleTC">Drives</div>
    <div class="valueTC">2800</div>
  </div>

  <div class="totalBox">
    <img src="assets/img/device.png" alt="">
    <div class="titleTC">Devices</div>
    <div class="valueTC">3200</div>
  </div>

</div>


  <div class="contentAreaBox heightAuto">

<div class="contentSecMain">


<div class="form-row">
  <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="cardListSty">
        <div class="headerCL">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="m-0">Company</h2>
            <div><button type="button" class="btn btn-link padding-3"> <img src="assets/img/add.png" alt=""> </button></div>
          </div>
        </div>
        <div class="bodyCL">

<form class="mb-3">
  <div class="form-row">
    <div class="col">
        <div class="searchBoxSty position-relative">
            <input type="text" class="form-control paddingRight-30" placeholder="Search">
            <div class="searchIcon"><img src="assets/img/searchIcon.png" alt=""></div>
        </div>
    </div>
  </div>
</form>
<div class="cardListScroll">
<ul>
          <li>
            <div>
              <div class="companyText">
                <span>Shaurya Technosoft Pvt. Ltd.</span>
              </div>
              <div class="ownerText">
                <label>Owner: </label>
                <span>Abhay Jagtap</span>
              </div>
            </div>
          </li>

          <li>
            <div>
              <div class="companyText">
                <span>Shaurya Technosoft Pvt. Ltd.</span>
              </div>
              <div class="ownerText">
                <label>Owner: </label>
                <span>Abhay Jagtap</span>
              </div>
            </div>
          </li>

          <li>
            <div>
              <div class="companyText">
                <span>Shaurya Technosoft Pvt. Ltd.</span>
              </div>
              <div class="ownerText">
                <label>Owner: </label>
                <span>Abhay Jagtap</span>
              </div>
            </div>
          </li>

          <li>
            <div>
              <div class="companyText">
                <span>Shaurya Technosoft Pvt. Ltd.</span>
              </div>
              <div class="ownerText">
                <label>Owner: </label>
                <span>Abhay Jagtap</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="companyText">
                <span>Shaurya Technosoft Pvt. Ltd.</span>
              </div>
              <div class="ownerText">
                <label>Owner: </label>
                <span>Abhay Jagtap</span>
              </div>
            </div>
          </li>
        </ul>
</div>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="cardListSty">
        <div class="headerCL">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="m-0">Vehicles</h2>
            <div><button type="button" class="btn btn-link padding-3"> <img src="assets/img/add.png" alt=""> </button></div>
          </div>
        </div>
        <div class="bodyCL">
<form class="mb-3">
  <div class="form-row">
    <div class="col">
        <div class="searchBoxSty position-relative">
            <input type="text" class="form-control paddingRight-30" placeholder="Search">
            <div class="searchIcon"><img src="assets/img/searchIcon.png" alt=""></div>
        </div>
    </div>
  </div>
</form>
<div class="cardListScroll">
  <ul>
          <li>
            <div>
              <div class="companyText">
                <span>Tata 407</span>
              </div>
              <div class="ownerText">
                <label>Number: </label>
                <span>MH12 AB 1111</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="companyText">
                <span>Open Truck</span>
              </div>
              <div class="ownerText">
                <label>Number: </label>
                <span>MH12 AB 1111</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="companyText">
                <span>LPT 709</span>
              </div>
              <div class="ownerText">
                <label>Number: </label>
                <span>MH12 AB 1111</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="companyText">
                <span>Taurus</span>
              </div>
              <div class="ownerText">
                <label>Number: </label>
                <span>MH12 AB 1111</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="companyText">
                <span>Bruno Sammartino</span>
              </div>
              <div class="ownerText">
                <label>Number: </label>
                <span>MH12 AB 1111</span>
              </div>
            </div>
          </li>

        </ul>
</div>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="cardListSty">
        <div class="headerCL">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="m-0">Vendor</h2>
            <div><button type="button" class="btn btn-link padding-3"> <img src="assets/img/add.png" alt=""> </button></div>
          </div>
        </div>
        <div class="bodyCL">

<form class="mb-3">
  <div class="form-row">
    <div class="col">
        <div class="searchBoxSty position-relative">
            <input type="text" class="form-control paddingRight-30" placeholder="Search">
            <div class="searchIcon"><img src="assets/img/searchIcon.png" alt=""></div>
        </div>
    </div>
  </div>
</form>

<div class="cardListScroll">
<ul>
          <li>
            <div>
              <div class="companyText">
                <span>Mark Calaway</span>
              </div>
              <div class="ownerText">
                <span>+91 9604601273</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="companyText">
                <span>Shawn Michaels</span>
              </div>
              <div class="ownerText">
                <span>+91 9604601273</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="companyText">
                <span>Steve Austin</span>
              </div>
              <div class="ownerText">
                <span>+91 9604601273</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="companyText">
                <span>John Cena</span>
              </div>
              <div class="ownerText">
                <span>+91 9604601273</span>
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="companyText">
                <span>Dwayne Johnson</span>
              </div>
              <div class="ownerText">
                <span>+91 9604601273</span>
              </div>
            </div>
          </li>
        </ul>
</div>
        </div>
      </div>
  </div>
</div>














</div>






  </div>
</div>


</div>
