<app-header-before-login></app-header-before-login>
<div class="bannerMain">
    <div class="cityImg"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-8 order-2 order-md-1">
                <div class="banrImgSty">
                    <div class="containerTrc">
                        <div class="truckSty">
                            <div class="text-center">
                                <img src="assets/img/truckImg.png" alt="">
                            </div>
                            <div class="wind">
                                <div class="p p1"></div>
                                <div class="p p2"></div>
                                <div class="p p3"></div>
                                <div class="p p4"></div>
                                <div class="p p5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-lg-4 order-1 order-md-2">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>
<div class="supportPrivacyTrackingMain">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="boxStyMain">
                    <div class="imgMain" data-aos="fade-up-right" data-aos-duration="1600" data-aos-delay="150"><img src="assets/img/support.png" alt=""> </div>
                    <h4 class="boxTitleSPT">24/7 Support</h4>
                    <p>Apps that are not preinstalled are usually available through distribution platforms called app stores</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="boxStyMain">
                    <div class="imgMain" data-aos="fade-down" data-aos-duration="1700" data-aos-delay="160"><img src="assets/img/privacyIcon.png" alt=""> </div>
                    <h4 class="boxTitleSPT">Data Privacy</h4>
                    <p>Apps that are not preinstalled are usually available through distribution platforms called app stores</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="boxStyMain">
                    <div class="imgMain" data-aos="fade-up-left" data-aos-duration="1800" data-aos-delay="170">
                        <div class="squareSty"></div> <img src="assets/img/route.png" alt="">
                    </div>
                    <h4 class="boxTitleSPT">Easy Tracking</h4>
                    <p>Apps that are not preinstalled are usually available through distribution platforms called app stores</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aboutusSecMain" id="aboutus_id">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="aboutusSecInr" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                    <h2 class="aboutusSecTitle">About Us <span></span> </h2>
                    <p>Preinstalled that are not preinstalled are usually available through distribution platforms called app stores preinstalled that are not preinstalled are usually available through distribution platforms called app stores Preinstalled that are not preinstalled are usually available through distribution platforms called app stores preinstalled that are not preinstalled are usually available through distribution platforms called app stores</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ourClientsMain">
    <div class="container">
        <h2 class="ourClientsTitle">Our Customers <span></span> </h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex flex-column flex-md-row">
                        <div class="ourClientsBox" data-aos="flip-left" data-aos-duration="1500" data-aos-delay="100">
                            <div class="ourClientsImg"><img src="assets/img/avt.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Vinit Bhise</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="ourClientsBox" data-aos="flip-right"  data-aos-duration="1600" data-aos-delay="120">
                            <div class="ourClientsImg"><img src="assets/img/avt.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Amar Gaikwad</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="ourClientsBox" data-aos="flip-left"  data-aos-duration="1700" data-aos-delay="130">
                            <div class="ourClientsImg"><img src="assets/img/avt.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Vinit Bhise</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex flex-column flex-md-row">
                        <div class="ourClientsBox" data-aos="flip-left" data-aos-duration="1500" data-aos-delay="100">
                            <div class="ourClientsImg"><img src="assets/img/avt.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Vinit Bhise</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="ourClientsBox" data-aos="flip-right"  data-aos-duration="1600" data-aos-delay="120">
                            <div class="ourClientsImg"><img src="assets/img/avt.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Amar Gaikwad</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="ourClientsBox" data-aos="flip-left"  data-aos-duration="1700" data-aos-delay="130">
                            <div class="ourClientsImg"><img src="assets/img/avt.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Vinit Bhise</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contactUsSecMain">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="contactUsSecInr">
                    <div>
                        <h2 id="contactUs_id" class="contactUsSecSecTitle" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="100">Say Hello to Us! <span></span> </h2>
                        <p>Preinstalled that are not preinstalled are usually available through distribution platforms
                            called app stores preinstalled that are not preinstalled are usually available through
                            distribution platforms called app stores Preinstalled that are not preinstalled are usually
                            available through distribution platforms</p>
                    </div>
                    <div class="pt-4 pb-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="pb-3">
                                    <address class="addressTextSty mb-2" data-aos="zoom-in-up" data-aos-duration="1600" data-aos-delay="100">
                                        <div class="d-flex">
                                            <div class="d-inline-block mt-1 mr-3"><i class="fas fa-map-marker-alt"></i>
                                            </div>
                                            <div class="d-inline-block"><span class="contactBoldTitle">Address</span> Shaurya Technosoft Pvt. Ltd. 694/1/2/4, <br /> Adarsh Nagar, Satara road, Pune-411037.</div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="d-inline-block mt-1 mr-1"><i class="fas fa-phone-alt mr-2"></i>
                                            </div>
                                            <div class="d-inline-block"><span class="contactBoldTitle">Office</span> +91 20 24261344</div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="d-inline-block mt-1 mr-1"><i class="fas fa-envelope mr-2"></i>
                                            </div>
                                            <div class="d-inline-block"><span class="contactBoldTitle">Email</span> <a href="mailto:info@shauryatechnosoft.com">info@shauryatechnosoft.com</a>
                                            </div>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                <div>
                                    <form data-aos="zoom-in-up" data-aos-duration="1600" data-aos-delay="150">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputName_id">Name</label>
                                            <input type="text" class="form-control" id="inputName_id"
                                                placeholder="Name" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputMobileNum_id">Mobile Number</label>
                                            <input type="number" class="form-control" id="inputMobileNum_id"
                                                placeholder="Mobile Number" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress">Email</label>
                                        <input type="email" class="form-control" id="inputEmail_id"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group">
                                        <label for="address_id">Message</label>
                                        <textarea class="form-control" id="address_id" rows="3"
                                            placeholder="Message"></textarea>
                                    </div>
                                    <button type="button" class="btn sendMessageBtn btnGradientB waves-effect waves-red waves-ripple">Send Message</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mapSectionMain">
    <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.870665783585!2d73.85557611436836!3d18.48951667495004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c01c0b5fc97f%3A0xb68adb697c096dcd!2sShaurya%20Technosoft%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1569330082926!5m2!1sen!2sin" frameborder="0" style="border:none;" allowfullscreen=""></iframe></div>
</div>

<app-footer></app-footer>
